@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,400;0,800;1,400&display=swap');

:root {
  --menuOpacity: 0.95;
  --primaryColor: rgb(50, 50, 50);
  --secondaryColor: rgb(150, 150, 150);
  --backgroundColor: rgb(250, 250, 250);
  --backgroundColorOpacity: rgba(250, 250, 250, var(--menuOpacity));
  --navigationBackground: rgba(250, 250, 250, var(--menuOpacity));
  --primaryBtnColor: rgb(87, 228, 0);
  --menuLineGradient: linear-gradient(
      to right,
      rgba(50, 50, 50, 0),
      var(--primaryColor),
      rgba(50, 50, 50, 0)
    )
    1;
  --menuLineStyle: 1px solid transparent;

  --main-font: 'Poppins', system-ui, Helvetica, Arial, sans-serif;
  --attention-font: 'Playfair+Display', Times New Roman, Georgia, serif;

  font-family: var(--main-font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: var(--main-font);
  color: var(--primaryColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
p,
button {
  font-weight: 400;
}
p.italic,
span.italic {
  font-style: italic;
}

/* Splide */
li.splide__slide {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.splide__slide p {
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 200;
}
ul {
  list-style-type: none;
}
ul,
li {
  margin-left: 0;
  padding-left: 0;
}
.splide__progress .splide__progress__bar {
  position: fixed;
  height: 3px;
  background: #000;
  bottom: 0;
  left: 0;
}
.home-slideshow {
  height: calc(100vh - 60px);
  position: fixed;
  top: 30px;
  bottom: 0px;
  width: 100vw;
}

/*MUI*/
.MuiInputBase-root .MuiSelect-select {
  font-family: 'Poppins';
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}
.search-params label {
  display: block;
  letter-spacing: 0.06rem;
}

/*Other*/
.cardEdit {
  /* position: absolute; */
  /* display: block; */
  /* height: 100%; */
  width: 30px;
  /* right: 0.75rem; */
  /* border-radius: 0 4px 4px 0; */
  /* border: unset; */
  padding: 0.2rem 0.2rem;
  /* margin: -1rem 0 0 0; */
  /* margin: auto 0; */
  background-color: var(--secondaryColor);
  /* cursor: pointer; */
  /* transition: border-color 0.25s; */
  color: var(--primaryColor);
}
